body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    margin-top: 2rem;
    padding: 1rem;
  }
  
  
  #nobtn {
    width:6;
    margin-top: 2rem;
  }
  
  #yesbtn {
    margin-top: 2rem;
  }
  
  .footer {
    margin-top: 8rem;
  }
  